{% extends 'basee.html' %}
{% block content %}
<html>
<div class="'jumbotron">
    <div class="alert alert-warning" role="alert">
        Credentials required<br>Enter valid and correct user name/password
    </div>
    <a href="/" type="button" class="btn btn-warning">Login please</a></button>
</div>

</html>

<style>
    body {
        background-image: url(https://i.pinimg.com/originals/78/78/63/787863a56b90d5f42791890a53b368d7.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>

{% endblock %}