{% extends 'basee.html' %}
{% block content %}
<html>
  <div class="'jumbotron"></div>
<div class="alert alert-warning" role="alert">
  Oops!! Wrong username/password
</div>
<a href="/" type="button" class="btn btn-warning"><b>Try again</b></a></button>
</html>



<style>
  body {
    background-image: url(https://i.pinimg.com/originals/78/78/63/787863a56b90d5f42791890a53b368d7.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
</style>

{% endblock %}